//
//  Product.xcconfig
//  iPOSBilling
//
//  Created by ipos on 19/09/2022.
//  Copyright © 2022 quan nguyen. All rights reserved.
//

// Configuration settings file format documentation can be found at:
#include "/Users/ipos/Downloads/ios-billing/Pods/Target Support Files/Pods-iPOSBilling/Pods-iPOSBilling.product.xcconfig"
// https://help.apple.com/xcode/#/dev745c5c974
base_URL = http:\/\/billing-pro.ipos.vn

